tests/test
*.o
*.out
*.os
.sconsign.dblite

databases/*
sessions/*
errors/*
cache/*
uploads/*
*.py[oc]


*.swp
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
*.svn
*.w2p
*.class
*.rej
*.orig
Thumbs.db
.DS_Store
index.yaml
routes.py
logging.conf
gluon/tests/VERSION
gluon/tests/sql.log
httpserver.log
httpserver.pid
parameters*.py
./deposit
./benchmark
./build
./dist*
./dummy_tests
./optional_contrib
./ssl
./docs
./logs
./*.zip
./gluon/*.1
./gluon/*.txt
./admin.w2p
./examples.w2p
cron.master
applications/*
!applications/welcome
!applications/welcome/*
!applications/examples
!applications/examples/*
!applications/admin
!applications/admin/*
applications/*/databases/*
applications/*/sessions/*
applications/*/errors/*
applications/*/cache/*
applications/*/uploads/*
applications/*/*.py[oc]
applications/examples/static/epydoc
applications/examples/static/sphinx
applications/admin/cron/cron.master

*.py[co]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
